<!-- To edit the content of this module please check lang.yml -->
<footer class="site-footer">
  <div class="column">
    <span class="owner">
      <a href="{{ site.baseurl }}/">{{site.name}} </a>{{ site.data[page.lang].lang["footer"]["credits_line_html"] }}
    </span>
    <p class="credits">{{ site.data[page.lang].lang["footer"]["eu_agreement_line"] }}</p>
  </div>
  <div class="column">
    <img src="http://opencarecc.github.io/MicroWebsiteTemplate/assets/OC-EC-H2020.jpg">
  </div>
</footer>