<!-- IMPORTANT: Please only change text and links. Leave the HTML structure unchanged -->

<section class="page-header">
  <div class="page-header-content">
    <h1 class="project-name">Prototype01</h1>
    <h2 class="project-tagline">this is the repo for the first prototype of the opencare project</h2>
    <a href="https://github.com/opencarecc/MicroWebsiteTemplate" class="btn">View on GitHub</a>
    <a href="https://github.com/opencarecc/MicroWebsiteTemplate/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/opencarecc/MicroWebsiteTemplate/wiki" class="btn">Build your own!</a>
  </div>
</section>