<!-- To edit the content of this module please check lang.yml -->
<div class="column">
  <!-- title -->
  <h2>{{ site.data[page.lang].lang["release_notes"]["title"] }}</h2>

  <!-- content -->
  <ul>
    {% for item in site.data[page.lang].lang["release_notes"]["notes"] %}
      <li>{{ item.note }}</li>
    {% endfor %}
  </ul>

  <!-- link to more -->
  <p>
    {% for item in site.data[page.lang].lang["release_notes"]["more_link"] %}
      <a href="{{ item.link }}"><em>{{ item.text }} &raquo;</em></a>
    {% endfor %}
  </p>
</div>